<ion-view title="{{'bookmark' | translate}}">
<link href="css/settings.css" rel="stylesheet" type="text/css" />
<ion-tabs class="tabs-bookmark">
	<ion-tab title="{{'news' | translate}}"><ion-pane>
		<ion-content>
		<div class="row" ng-repeat="item in news | filter:{format:'!image'} as count" style="margin-bottom:5px;" ng-if="!item.remove">
			<div class="col no-padding">
				<div class="row news relative">
					<i class="icon icon-trash absolute" ng-click="deleteNews(item.id)"></i>
					<div class="col col-33" ng-if="item.mobiconnector_feature_image.source_url">
						<img ng-src="{{item.mobiconnector_feature_image.source_url}}" class="img">
					</div>
					<div class="col" ui-sref="app.news({id:item.id})">
						<a class="title-news"><b>{{item.title.rendered}}</b></a>
						<div class="row row-no-padding">
							<div class="col">
								<span class="col-offset-10 info">{{item.time | timeAgo}}</span>
							</div>
							<div class="col">
								<span class="info"><i class="icon-chat"></i> {{item.mobiconnector_total_comments.approved}} 
								<span ng-if="item.mobiconnector_total_comments.approved <2">{{'comment' || translate}}</span>
								<span ng-if="item.mobiconnector_total_comments.approved >1">{{'comments' || translate}}</span>
								</span>
							</div>
						</div>		
					</div>
				</div>
			</div>
		</div>
		<div ng-show="!news || count.length <1" class="padding text-center dark">{{'noBookmark' | translate}}</div>
		</ion-content>
	</ion-pane></ion-tab>
	<ion-tab title="{{'photo' | translate}}"><ion-pane>
		<ion-content>
		<div class="row" ng-repeat="item in news | filter:{format:'image'} as count" style="margin-bottom:5px;" ng-if="!item.remove">
			<div class="col no-padding">
				<div class="row news relative">
					<i class="icon icon-trash absolute" ng-click="deleteNews(item.id)"></i>
					<div class="col col-33" ng-if="item.mobiconnector_feature_image.source_url">
						<img ng-src="{{item.mobiconnector_feature_image.source_url}}" class="img">
					</div>
					<div class="col" ui-sref="app.newsPhoto({id:item.id})">
						<a class="title-news"><b>{{item.title.rendered}}</b></a>
					</div>
				</div>
			</div>
		</div>
		<div ng-show="!news || count.length <1" class="padding text-center dark">{{'noBookmark' | translate}}</div>
		</ion-content>
	</ion-pane></ion-tab>
</ion-tabs>
</ion-view>