<ion-view title="Notification">
<link href="css/settings.css" rel="stylesheet" type="text/css" />
<ion-nav-buttons side="right">
	<label class="toggle toggle-assertive">
	   <input type="checkbox">
	   <div class="track">
		 <div class="handle"></div>
	   </div>
	</label>
</ion-nav-buttons>
<ion-content>
	<div class="row background-d">
		<span class="title-noti">PICK YOUR ALERTS</span>
	</div>
	<ul class="list box-shadow">
		<li class="item item-toggle item-icon-left">
			<i class="icon icon-important"></i>
			<b class="list-noti">Important Only</b><br/>
			<small class="list-noti-small">News you need to know, not more than 3-4 a day</small>
				<label class="toggle toggle-balanced">
					<input type="checkbox">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
		</li>
		<li class="item item-toggle item-icon-left">
			<i class="icon icon-news"></i>
			<b class="list-noti">News & Politics</b><br/>
			<small class="list-noti-small">National & current affairs</small>
				<label class="toggle toggle-balanced">
					<input type="checkbox">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
		</li>
		<li class="item item-toggle item-icon-left">
			<i class="icon icon-location"></i>
			<b class="list-noti">City alerts</b><br/>
				<label class="toggle toggle-balanced">
					<input type="checkbox">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
		</li>
		<li class="item item-toggle item-icon-left">
			<i class="icon icon-brief"></i>
			<b class="list-noti">Daily Brief</b><br/>
			<small class="list-noti-small">Twice a day, morning & evening</small>
				<label class="toggle toggle-balanced">
					<input type="checkbox">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
		</li>
		<li class="item item-toggle item-icon-left">
			<i class="icon icon-chart"></i>
			<b class="list-noti">Markets & Business</b><br/>
			<small class="list-noti-small">Indices, interest rates, commodities, etc</small>
				<label class="toggle toggle-balanced">
					<input type="checkbox">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
		</li>
		<li class="item item-toggle item-icon-left">
			<i class="icon icon-connect"></i>
			<b class="list-noti">Tech & Gadgets</b><br/>
			<small class="list-noti-small">Launches, reviews, etc</small>
				<label class="toggle toggle-balanced">
					<input type="checkbox">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
		</li>
		<li class="item item-toggle item-icon-left">
			<i class="icon icon-sport"></i>
			<b class="list-noti">Sports & Cricket</b><br/>
				<label class="toggle toggle-balanced">
					<input type="checkbox">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
		</li>
		<li class="item item-toggle item-icon-left">
			<i class="icon icon-tivi"></i>
			<b class="list-noti">Entertainment & TV</b><br/>
				<label class="toggle toggle-balanced">
					<input type="checkbox">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
		</li>
		<li class="item item-toggle item-icon-left">
			<i class="icon icon-life"></i>
			<b class="list-noti">Life & Style</b><br/>
				<label class="toggle toggle-balanced">
					<input type="checkbox">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
		</li>
	</ul>
	<div class="row background-d">
		<span class="title-noti">MORE SETTINGS</span>
	</div>
	<ul class="list box-shadow">
		<li class="item item-toggle item-icon-left">
			<i class="icon icon-volume"></i>
			<b class="list-noti">Sound</b><br/>
				<label class="toggle toggle-balanced">
					<input type="checkbox">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
		</li>
		<li class="item item-toggle item-icon-left">
			<i class="icon icon-vibrate"></i>
			<b class="list-noti">Vibrate</b><br/>
				<label class="toggle toggle-balanced">
					<input type="checkbox">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
		</li>
		<li class="item item-toggle item-icon-left">
			<i class="icon icon-block"></i>
			<b class="list-noti">Do not disturb</b><br/>
				<label class="toggle toggle-balanced">
					<input type="checkbox">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
		</li>
	</ul>
</ion-content>
</ion-view>